body {
    background-color: antiquewhite;
    margin: 0;
}

.Counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counterHeader {
    align-self: center;
    background-color: honeydew;
}

.counterItem {
    font-size: 18px;
    align-self: center;
    border: 3px dashed aqua;
    background-color: gainsboro;
    border-radius: 25px;
    padding: 25px;
    font-size: 40px;
}

.counterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerPart{
    display: flex;
    justify-content: center;
    margin-top: 195px;
}